<app-header></app-header>
<main>


  <table *ngIf="(stackItems.length> 0); else message"  >
  <tr>
    <td><h2>Count</h2></td>
    <td><h2>Item</h2> </td>
  </tr>
  <tr *ngFor="let item of  stackItems; let i=index">
    <td>{{i+1}}</td>
<td> {{item}}</td>
  </tr>
</table>
  <ng-template #message>

    <p id="warning"> the stack is empty</p>
  </ng-template>
  <p>
    <label for="in"> <h3>Input </h3></label>
    <input id ="in" type="text" [value]="inputBoxContent"  #inputValue>
  </p>
  <p>
    <button (click)="inputValue.value !== '' ? onPush(inputValue.value) : message1"><h3>Push</h3></button>&nbsp;
    <ng-template #message1>
      <h3 > no value Entered</h3>
    </ng-template>
    <button (click)="onPop()" *ngIf="stackItems.length>0"><h3>Pop&nbsp; </h3></button>
  </p>
  <div>

    <app-footer></app-footer>
  </div>
</main>
