
h1 {
  font-family: 'Arial', sans-serif;
  color: darkblue;
  font-size: 28px;
  margin-bottom: 5px;
}

h3 {
  font-family: 'Arial', sans-serif;
  color: #555;
  font-size: 18px;
  margin-top: 0;
}

